python-dotenv
pydantic
pydantic-settings
redis
jsons
httpx

pymongo
motor

PyMuPDF
pdf2image
python-docx
docx2pdf

openai
langchain-core
langchain
langchain-community
langchain-openai

pandas
bs4

starlette
fastapi
asyncpg
SQLAlchemy
openai-agents